<footer role="contentinfo">
	<div class="wrapper">
    Laget av <a href="https://nrkbeta.no/2016/05/11/https-status-i-norge-oversikten/">NRK</a>. Domenene som er sjekket finnes i datasettet <a href="https://github.com/byeskille/norway-gov-domains">norway-gov-domains</a>.
    <br/>
    Dette er laget med kode som er <a href="https://github.com/byeskille/pulse">Open Source</a> og basert på <a href="https://pulse.cio.gov">the pulse of the federal .gov webspace</a> fra Det hvite hus og <a href="https://18f.gsa.gov">18F</a>/<a href="http://gsa.gov">General Services Administration</a>. Takk!
	</div>
</footer>
