---
layout: default
id: pagenotfound
permalink: /404/
---

<section id="main-content">
  <h2>404</h2>

  <p>Her var det visst ingenting?! Tror du at du har funnet en feil kan du sende Øyvind Bye Skille en e-post (<a href="mailto:oyvind.bye.skille@nrk.no" title="e-postadressen til Øyvind Bye Skille"><oyvind.bye.skille@nrk.no</a>) eller legge inn en issue på Github under <a href="https://github.com/byeskille/pulse/issues" title="Repository på GitHub">github.com/byeskille/pulse/</a> .</p>

</section>



