{% extends "layout.html" %}

{% block page_id %}about{% endblock %}
{% block title %}Om denne oversikten{% endblock %}
{% block description %}Vanlige spørsmål og mer informasjon om {{ site.name }}{% endblock %}

{% block content %}
<header>

  <h1>Om denne oversikten</h1>
  <p>
  	<em>{{ site.name }}</em> er et lite prosjekt laget av NRK for å vise hvor stor andel av nettsteder drevet av det offentlige i Norge som støtter HTTPS.
  </p>
  <p>
  	NB: <em>{{ site.name }}</em> er å regne som et <strong>eksperiment</strong>, bruker automatiske dataverktøy for å undersøke nettstedene og <strong>er helt sikkert ikke perfekt</strong>. Finner du tydelige feil, <a href="#send-feedback">si gjerne fra til NRK ved Øyvind Bye Skille</a>.
  </p>

</header>

<section id="main-content" class="white-bkg">
	<div class="wrapper">

		<header>
			<h2>Vanlige spørsmål</h2>
			<ul class="faq-questions">
				<li>
					<a href="#what-is-this">Hva er dette?</a>
				</li>
				<li>
					<a href="#what-domains-are-being-measured">Hvilke nettsteder sjekkes?</a>
				</li>
				<li>
					<a href="#what-are-measured">Hva sjekkes det for?</a>
				</li>
				<li>
					<a href="#why-https">Hva er HTTPS og hvorfor skal man bry seg om det?</a>
				</li>
				<li>
					<a href="#but-why">Men på våre nettsider behandles ikke personopplysninger/sensitive opplysninger/brukerdata/innlogging..., hvorfor trenger vi da HTTPS?</a>
				</li>
				<li>
					<a href="#fresh-data">Når ble datagrunnlaget for denne siden hentet inn?</a>
				</li>
				<li>
					<a href="#send-feedback">Hvor kan man henvende seg med tilbakemeldinger?</a>
				</li>
				<li>
					<a href="#my-info">Informasjonen dere viser fram om et domene stemmer ikke!</a>
				</li>
				<li>
					<a href="#who-created">Hvem står bak denne oversikten?</a>
				</li>
			</ul>
		</header>

		<ul class="faq-answers">
			<li id="what-is-this">
				<h3>
					Hva er dette?
				</h3>
				<p>
					Denne oversikten er laget av NRK for å vise hvor stor andel av nettsteder drevet av det offentlige i Norge som støtter HTTPS.
				</p>
				<p>
				NRK har i flere saker satt fokus på lav utbredelse av moderne, sikker tilkobling til nettsteder eid og drevet av det offentlige. Dette gjelder både nettsteder uten HTTPS i det hele tatt, og nettsteder der oppsettet er utdatert eller feil slik at det kan utgjøre en sikkerhetsrisiko.
				</p>

				<p>
				<strong>Les noen av artiklene om temaet:</strong><br />
				– <a href="http://www.nrk.no/dokumentar/xl/1.12859753">Info om bombekjemikalier, Forsvaret og ID-juks på sårbare sider</a><br />
– <a href="http://www.nrk.no/dokumentar/xl/1.12854582">Usikkert nett</a><br />
– <a href="http://www.nrk.no/dokumentar/1.12857676">Difi vil vurdere nye HTTPS-anbefalinger</a><br />
				</p>
			</li>
			<li id="what-domains-are-being-measured">
				<h3>
					Hvilke nettsteder sjekkes?
				</h3>
				<p>
					Domenene som sjekkes kan knyttes til offentlige etater og virksomheter i Norge både i statlig, kommunal og fylkeskommunal sektor. Domenene tilhører alt fra store statlige organer som departementene til små lokale menigheter. Mer info om hvordan NRK lagde domenelisten kan leses på <a href"https://nrkbeta.no/2016/03/30/slik-undersokte-nrk-offentlige-nettsteder/" title="NRKbeta – Slik undersøkte NRK offentlige nettsteder">NRKbeta</a>. <br/>
					NRK har etter publisering av nyhetssaker om temaet valgt å gjøre hele domenelisten tilgjengelig som datasettet <a href="https://github.com/byeskille/norway-gov-domains">norway-gov-domains</a>. Dette datasettet er igjen grunnlag for testene denne oversikten er basert på.
				</p>
			</li>

			<li id="what-are-measured">
				<h3>
					Hva sjekkes det for?
				</h3>
				<p>
					Alle domenene sjekkes for om de er mulig å besøke nettsidene med sikker tilkobling over <a href="https://no.wikipedia.org/wiki/HTTPS">HTTPS</a>. Deretter sjekkes det hvordan HTTPS er satt opp; om nettstedet som standard sender all trafikk på HTTPS-protokollen, om nettstedet tvinger alle framtidige besøk til sikker tilkobling (<a href="https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security" title="HTTP Strict Transport Security">HSTS</a>) og om det er kjente svakheter i oppsettet.</p>
			</li>

			<li id="why-https">
				<h3>
					Hva er HTTPS og hvorfor skal man bry seg om det??
				</h3>
				<p>
					<a href="https://no.wikipedia.org/wiki/HTTPS">HTTPS</a> gjør at kommunikasjonen mellom nettleseren i din datamaskin/mobile enhet og serveren som driver nettstedet skjer sikkert. Dette gjøres ved å sende informasjonen pakket inn i krypterte pakker. HTTPS gjør det mye vanskeligere for noen med onde hensikter å overvåke hva du gjør inne på et nettsted som f.eks. nrk.no eller manipulere sidene for å lure deg.
					Derfor er teknologien anbefalt av alle store aktører på nettet som Google og Facebook, og også offentlige organer som Det hvite hus har gått inn for å innføre HTTPS på alle statlige nettsteder i USA.
				</p>
				<p>
				I Norge er <a href="https://kvalitet.difi.no/artikkel/2015/11/32-tjenester-med-sensitiv-informasjon-er-kryptert" title="Difi – Tjenester med sensitiv informasjon er kryptert">anbefalingen fra Difi</a> enn så lenge at det skal være HTTPS på alle offentlige nettsteder som har innlogging eller behandler personopplysninger, men de vurderer å lage strengere anbefalinger <a href="http://www.nrk.no/dokumentar/difi-vurderer-nye-https-anbefalinger-1.12857676" title="nrk.no – Difi vurderer nye HTTPS-anbefalinger">etter NRKs saker om temaet</a>.
				</p>
				<p>
					Selv om et nettsted har HTTPS, er det ikke en garanti mot at nettstedet kan bli utsatt for data-angrep. For mer informasjon om hva HTTPS gjør (og hva protokollen ikke gjør), <a href="https://https.cio.gov/faq/">besøkt HTTPS (FAQ) fra Det hvite hus</a> (på engelsk).
				</p>
			</li>



			<li id="but-why">
				<h3>
					Men på våre nettsider behandles ikke personopplysninger/sensitive opplysninger/brukerdata/innlogging..., hvorfor trenger vi da HTTPS?
				</h3>
				<p>
					En sikker og kryptert forbindelse kan beskytte mer enn personopplysninger, som sendes mellom nettleser og nettsted. HTTPS forhindrer også at nettstedet kan bli manipulert på veien til brukerne over nettet - noe som er kjent at brukes for å drive svindel eller spre datavirus eller annen skadevare.
				</p>
				<p>
					Ondsinnede aktører kan heller ikke se innholdet som overføres med HTTPS hvis de forsøker å overvåke et nettsted eller brukere som besøker nettstedet.
				</p>
			</li>


			<li id="fresh-data">
				<h3>Når ble datagrunnlaget for denne siden hentet inn?</h3>

				<p>
					Domenene ble sist sjekket den <strong>{{ scan_date | date("%d. %B %Y") }}</strong>. Listen med domener som er utgangspunktet for sjekken ble samlet inn vinteren 2015/2016, og mesteparten av informasjonen ble innhentet i slutten av november 2015.
				</p>
			</li>

			<li id="send-feedback">
				<h3>
					Hvor kan man henvende seg med tilbakemeldinger?
				</h3>
				<p>
					For tilbakemeldinger og spørsmål om <em>{{ site.name }}</em>, <a href="https://github.com/byeskille/pulse/issues">kan tekniske kyndige åpne en <em>issue</em> på Github</a>, andre kan sende en e-post til <a href="mailto:oyvind.bye.skille@nrk.no">oyvind.bye.skille@nrk.no</a>.
				</p>
			</li>

			</li>

			<li id="my-info">
				<h3>
					Informasjonen dere viser fram om et domene stemmer ikke!
				</h3>
				<p>
					Om det er gjort endringer for et domene, f.eks. for å få på plass HTTPS eller rette et problem, er det ikke sikkert at oversikten har fått med seg endringen.<br />
					Sjekk derfor først når oversikten sist ble oppdatert, for tiden er siste oppdatering gjort den <strong>{{ scan_date | date("%d. %B %Y") }}</strong>.
				</p>
				<p>
					Hvis det virker som oversikten har blitt oppdatert etter at domenet ble endret, eller du har funnet en annen feil: Si gjerne fra til <a href="mailto:oyvind.bye.skille@nrk.no">Øyvind Bye Skille</a>.
				</p>
			</li>

			<li id="who-created">
				<h3>
					Hvem står bak denne oversikten?
				</h3>
				<p>
					Denne oversikten er laget av <a href="https://nrkbeta.no/2016/05/11/https-status-i-norge-oversikten/" title="Slik undersøkte NRK offentlige nettsteder">NRK</a> i etterkant av <a href="http://www.nrk.no/emne/datasikkerhet-i-norge-1.12867300" title="NRK.no – Emne: Datasikkerhet i Norge">en rekke saker</a> om <a href="http://www.nrk.no/dokumentar/xl/usikkert-nett-1.12854582" title="NRK.no – Usikkert nett: Bare 422 av nesten 10 000 norske offentlige nettsteder var beskyttet av kryptering">HTTPS-bruk i det offentlige i Norge</a>. Oversikten er laget av <a href="https://byeskille.no/2016/03/usikre-offentlige-nettsider-https-usage-on-government-domains-in-norway/" title="byeskille.no – USIKRE OFFENTLIGE NETTSIDER // HTTPS USAGE ON GOVERNMENT DOMAINS IN NORWAY">Øyvind Bye Skille</a>.
				</p>
				<p>
					Koden for denne siden er <a href="https://github.com/byeskille/pulse">Open Source</a> og basert på et utgangspunkt fra kode laget på bestilling for Det hvite hus <a href="https://pulse.cio.gov">the pulse of the federal .gov webspace</a> av den amerikanske statlige virksomheten <a href="https://18f.gsa.gov">18F</a>/<a href="http://gsa.gov">General Services Administration</a>. Tusen takk også til <a href="https://robbi5.de/" title="Maximilian Richt – robbi5.de">Maximilian Richt</a> / <a href="https://github.com/robbi5" title="@robbi5 på Github">@robbi5</a> for den tyske versjonen <a href="https://github.com/robbi5/pulse" title="github: @robbi5/pulse (https.jetzt)">https.jetzt</a> som også har vært utgangspunkt for disse sidene med kode og svar på spørsmål på e-post.
				</p>

			</li>
		</ul>
	</div>
</section>
{% endblock %}
