{% extends "layout.html" %}

{% block page_id %}agency{% endblock %}
{% block title %}{{ agency.name }}{% endblock %}
{% block description %}{{ site.description }}{% endblock %}

{% block content %}

<header>

  <h1>{{ agency.name }}</h1>
  <h2>Totalt antall domener: {{ agency.total_domains }}</h2>

</header>

<section id="main-content" class="white-bkg">
	<div class="wrapper">

		<ul>

		  {% if agency.https %}

				<li class="https">

					<div class="description">
						<h2>Sikker HTTPS</h2>
						<h3>Antall domener: {{ agency.https.eligible }}</h3>

						<p>
				       Disse dataene måler om offentlige nettsteder i Norge støtter HTTPS (<code>https://</code>), og - hvis ja - hvor godt oppsettet er.
				       <a href="https://no.wikipedia.org/wiki/HTTPS">HTTPS</a> muliggjør sikrere kommunikasjon mellom nettsteder og de som besøker dem. HTTPS blir stadig mer vanlig på nettet og anses som en viktig standard for sikkerhet.
				       
				    </p>

					</div>

					<ul class="charts">

						<li class="https-coverage">
							<div class="percent">{{ agency.https.uses | percent(agency.https.eligible) }}%</div>
							<div class="label">Bruker HTTPS</div>
							<div class="bar">
								<div class="fill" style="top: {{ agency.https.uses | percent_not(agency.https.eligible) }}%"></div>
							</div>
						</li>
						<li class="enforces-https">
							<div class="percent">{{ agency.https.enforces | percent(agency.https.eligible) }}%</div>
							<div class="label">HTTPS for<br/>all trafikk</div>
							<div class="bar">
								<div class="fill" style="top: {{ agency.https.enforces | percent_not(agency.https.eligible) }}%"></div>
							</div>
						</li>
						<li class="hsts">
							<div class="percent">{{ agency.https.hsts | percent(agency.https.eligible) }}%</div>
							<div class="label">HSTS</div>
							<div class="bar">
								<div class="fill"style="top: {{ agency.https.hsts | percent_not(agency.https.eligible) }}%"></div>
							</div>
						</li>

					</ul>
				</li>
			{% endif %}

		</ul>

	</div>
</section>

{% endblock %}